/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root{
    --discord-header: #3161e0;
}

/* #endregion common */

/* #region debug */
#debug * {
    *border: 1px dashed;
}
#debug header{ 
    height: ;
    *background-color: yellow;

}
#debug div{
    *background-color: blueviolet;
}



/* #endregion debug */

/* #region utilities */

.container{
    width: 80%;


}
.d-flex {
    display: flex;
    }
img{
    max-width: 100%;
}


/* #endregion utilities */

/* #region header */

#app_header{
    display: flex;
    justify-content: center;
    background-color: var(--discord-header);
    width: 100%;
    padding: 10px;
    height: 50px;
    
    }

.logo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 25%;
    background-color: var(--discord-header);
   }
.menu{
    display: flex;
    text-align: justify ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
    width: 50%;
    color: white;
}

a{
    text-decoration: none;
    color:white
}
.login {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 25%;
    
}
.icon{
        color: black;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.7rem;
        background-color: white;
}



/* #endregion header */

/* #region main */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero{
    background: url(./img/jumbo.png) no-repeat ;
    height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
   
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    ;
    ;
}
.block_1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    padding: 100px;
    
}
.section2_main{
    display: flex;
    justify-content: center;
    flex-direction: ;
    width: 100%;
    padding: 20px;
    background-color: blue;
    

}
.block_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: greenyellow;
    padding: 100px;
}
.block_3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:20%;
    background-color: rgb(124, 194, 226);
    padding: 100px;
}
.section3_main{
    display: flex;
    justify-content: center;
    flex-direction: ;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 60, 0);
}
.block_4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:20%;
    background-color: rgb(90, 145, 218);
    padding: 100px;
}
.block_5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: rgb(228, 243, 24);
    padding: 100px;
}
.section4_main{
    display: flex;
    justify-content: center;
    flex-direction: ;
    width: 100%;
    padding: 20px;
    background-color: rgb(188, 190, 17);
}
.block_6{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:20%;
    background-color: rgb(6, 105, 19);
    padding: 100px;
}
.block_7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: rgb(243, 24, 126);
    padding: 100px;
}
.section5_main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 40px;
    background-color: antiquewhite
    ;
}
.block_8{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 71.5%;
    padding: 350px;
    background-color: rgb(235, 144, 220)
}

/* #endregion main */
/* #region footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
   }
.section1_footer{
    display: flex;
    justify-content: center;
    align-items: row;
    width: 100%;
    padding: 10px;
    background-color: brown;
    ;
}
.ad_content{
    display:flex;
    justify-content: center;
    width: 70%;
    background-color: azure;
}
.ad_1{
    display: flex;
    justify-content: center;
    width:14%;
    padding: 150px;
    background-color: palevioletred;
}
.ad_2{
    
    display: flex;
    justify-content: center;
    padding:30px;
    background-color: aquamarine;
}
.ad_3{
    display: flex;
    justify-content: center;
    padding:30px;
    background-color: aquamarine;

}
.ad_4{
    display: flex;
    justify-content: center;
    padding:30px;
    background-color: aquamarine;

}
.ad_5{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    padding: 30px;

}
.section2_footer{
    display: flex;
    justify-content: center;
    width:100%;
    background-color: rgb(112, 109, 109);
}
.flex_footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    padding: 10px;
    height: 50px;
}
.logo2{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 10%;
    background-color: aliceblue;
}
.button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        width: 10%;
        padding: auto;
        background-color: aliceblue;
}
/* #endregion footer */